html{
  	background-color: white;
  	font-size: 20px;
  	font-family: 'Fira Sans', sans-serif;
  	text-align: justify;
}
nav{
	position: fixed;
}
textarea{
	font-family: 'Fira Sans', sans-serif;
}
::selection {
  background: #abacad; /* WebKit/Blink Browsers */
}
h1{
	font-size: auto;
}
.thin_hr{
	height: 0.5px;
	background-color: none;
}
.thick_hr{
	background-color: black;
	height: 2px;
}
figcaption{
	font-size: 15px;
}

body{
	font: 1em/150% 'Fira Sans', sans-serif;
	padding: 1em 1em 1em 1em;
	margin: 0 auto;
	max-width: auto;
	margin-left: 30px;
}
ul{
	font-family: 'Fira Sans', sans-serif;
}
span{
	border: 1px solid black;
	background-color: lime;
}
progress{
	border: none;
	width: 400px;
	height: 25px;
	background: gray;
	color: black;
}
progress::-webkit-progress-value{
	background-color: black;
}
progress::-moz-progress-bar{
	background-color: black;
}
.first-para::first-letter{
	font-size:180%;
	color: red;
}
.nav_bar_elements{
	-webkit-transition: opacity 0.2s ease-in-out;
	-moz-transition: opacity 0.2s ease-in-out;
	transition: 0.2s;
	text-decoration: none;
	height: auto;
	width: auto;
}
.nav_bar_elements:hover{

	color: black;
  	zoom: 1;
 	-webkit-transition:0.5s;
 	opacity: 0.80;
}
.github_link{
	text-decoration: none;
	position: relative;
	top: 5px;
	left: 2px;
	height:32px;
	width: 32px;
}
.name_title{
	font-size: 70px;
	text-align: center;
	font-family: 'Mukta', sans-serif;
	color: black;
}
.name_title a:link{
	text-decoration: none;
	color: black;
}
.name_title a:visited{
	text-decoration: none;
	color: black;
}
.links{
	-webkit-transition: opacity 0.2s ease-in-out;
	-moz-transition: opacity 0.2s ease-in-out;
	transition: 0.2s;
	text-decoration: none;
}
.links:hover{
	color:black;
	zoom:1;
	-webkit-transition: 0.5s;
	opacity: 0.80;
}
header{
	text-decoration: none;
	font-size: 150%;
}
a.Project_Heading:link{
	font-size: 10px auto;
	color: black;
	text-decoration: none;
}
a.Project_Heading:visited{
	color: black;
	text-decoration: none;
}
a:link{
	color: grey;
}
a:visited{
	color: grey;
}
h2{
	color: grey;
}
form{
	max-width: 300px;
	margin: 0;
	padding: 0 20px;
}
input:invalid{
	border: 3px dashed red;
}
input:valid{
	border: 3px dashed green;
}
.footer{
	font-size: 70%;
	font-family: 'Fira Sans', sans-serif;
	text-align: center;
}
.address{
	text-align: center;
	font-size: 70%;
	font-family: inherit;
	text-align: center;
}
li {
  	margin-left: 20px;
}
tbody{
	background-color: white;
}